body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-list {
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
}

.todo-list-heder, .todo-item {
  display: flex;
}

.todo-list-heder > div, .todo-item > div {
  flex: 1 1 auto;
  width: 100px;
}

.todo-list-heder {
  color: red;
}